$tamaños:(
            xs: 400px,
            s: 770px,
            m: 1030px,
            l: 1200px, /// Mayor 
);


$fd-rojo:           rgb(228, 22, 22);
$fd-rojo-c:         rgb(255, 40, 40);
$fd-rojo-t:         rgba(255, 51, 0, 0.3);
$fd-rojo-o-1:       rgb(164, 0, 0);
$fd-rojo-o-2:       rgb(141, 0, 0);
$fd-rojo-o-3:       rgb(105, 0, 0);
$fd-rojo-o-4:       rgb(73, 0, 0);
$fd-rojo-an:        rgb(255, 17, 0);
$fd-rojo-ro:        rgb(175, 52, 89);

// *** Tonalidades de Rosa **** //
$fd-rosa:           rgb(231, 20, 80);
$fd-rosa-c:         rgb(255, 82, 134);
$fd-rosa-t:         rgba(197, 0, 56, 0.3);
$fd-rosa-o-1:       rgb(187, 0, 56);
$fd-rosa-o-2:       rgb(167, 0, 56);
$fd-rosa-o-3:       rgb(147, 0, 56);
$fd-rosa-o-4:       rgb(127, 0, 56);


// **** Tonalidades de naranja *** //
$fd-naranja:        rgb(212, 72, 16);
$fd-naranja-c:      rgb(247, 88, 48);
$fd-naranja-t:      rgba(212, 71, 16, 0.3);
$fd-naranja-ro:     rgb(212, 45, 16);
$fd-naranja-am:     rgb(240, 116, 0);
$fd-naranja-o-1:    rgb(187, 32, 0);
$fd-naranja-o-2:    rgb(167, 32, 0);
$fd-naranja-o-3:    rgb(147, 32, 0);
$fd-naranja-o-4:    rgb(127, 32, 0);


// *** Tonaalidadesd de amarillo *** //
$fd-amarillo:       rgb(255, 208, 0);
$fd-amarillo-c:     rgb(255, 255, 85);
$fd-amarillo-an:    rgb(255, 166, 0);
$fd-amarillo-ve:    rgb(182, 231, 4);
$fd-amarillo-t:     rgba(255, 217, 0, 0.3);
$fd-amarillo-o-1:   rgb(187, 110, 0);
$fd-amarillo-o-2:   rgb(167, 100, 0);
$fd-amarillo-o-3:   rgb(147, 100, 0);
$fd-amarillo-o-4:   rgb(137, 100, 0);


// *** Tonalidades de verde *** //
$fd-verde:          rgb(0, 124, 103);
$fd-verde-c:        rgb(0, 197, 164);
$fd-verde-o-1:      rgb(0, 116, 94);
$fd-verde-o-2:      rgb(0, 96, 85);
$fd-verde-o-3:      rgb(0, 85, 71);
$fd-verde-o-4:      rgb(0, 59, 56);
$fd-verde-t:        rgba(0, 110, 92, .3);
$fd-verde-az:       rgb(0, 42, 48);
$fd-verde-t:        rgba(0, 110, 92, .7);
$fd-verde-am:       rgb(130, 230, 0);


// *** Tonalidades azul *** //
$fd-azul:           rgb(16, 69, 183);
$fd-azul-c:         rgb(0, 108, 255);
$fd-azul-o-1:       rgb(0, 35, 110);
$fd-azul-o-2:       rgb(0, 30, 94);
$fd-azul-o-3:       rgb(0, 25, 85);
$fd-azul-o-4:       rgb(0, 15, 48);
$fd-azul-ve:        rgb(6, 38, 63);
$fd-azul-ve-s:      rgb(0,44,56);
$fd-azul-ve-c:      rgb(19, 67, 80);
$fd-azul-t:         rgba(16, 69, 183, .3);
$fd-azul-vi:        rgb(41, 16, 183);

// *** Tonalidades de gris *** //
$fd-gris:           rgb(128, 128, 128);
$fd-gris-c:         rgb(236, 236, 236);
$fd-gris-o-1:       rgb(51, 51, 51);
$fd-gris-o-2:       rgb(41, 41, 41);
$fd-gris-o-3:       rgb(31, 31, 31);
$fd-gris-o-4:       rgb(21, 21, 21);
$fd-gris-az-c:      rgb(40, 46, 66);
$fd-gris-az:        rgb(30, 32, 41);
$fd-gris-az-o:      rgb(21, 22, 26);
$fd-gris-n:         rgb(17, 17, 17);
$fd-gris-t:         rgba(160, 160, 160, 0.3);
$fd-blanco:         rgb(255,255,255);
$fd-negro:          rgb(0, 0, 0);
$gris-input:        rgb(163, 163, 163);


// *** Tonalidades de violeta *** //
$fd-violeta:        rgb(57, 0, 163);
$fd-violeta-c:      rgb(91, 2, 255);
$fd-violeta-o-1:    rgb(43, 0, 124);
$fd-violeta-o-2:    rgb(33, 0, 94);
$fd-violeta-o-3:    rgb(23, 0, 66);
$fd-violeta-o-4:    rgb(13, 0, 37);
$fd-violeta-t:      rgba(12, 2, 32, 0.3);
$fd-violeta-az:     rgb(16, 1, 58);
$fd-violeta-ro:     rgb(58, 1, 44);